body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;	
}

.width-960 {
	width: 960px;
	margin: auto;
}


.left {
	float: left;
}
.space{
	margin-left: 13%;
    width: 75%;
}
.about{
	padding: 10px;
	background: #66BB6A;
	margin-top: 10px;
}

.logo{
	border: 1px solid #00000;
	padding: 10px ; 
	background: #a9a9a9;
	height: 30px;
	width:30px;
}
.logo_title {
color: #a9a9a9;
}

.paragraph{
	font-size: 16px;
	color: #a9a9a9;
}

.caption{
color:#FFFFFF;

}

.social_icon {
	float: right;
}

img{
	padding-top: 20px;
	height: 200px;
	width: 300px;
}


.dummy1 {
	float: right;
	width: 65%;
}

.dummy2 {
	width:50%;	
	float: left;
}
.dummy3 {
	
	width: 50%;
	float: left;
}

hr{
	margin:15px;

}

a {
	text-decoration: none;
	padding: 5px;
	color: #a9a9a9;
}

a:hover { 
	color:#66BB6A ;
}

i:hover {
	color:#039BE5 ;

}

.services {
	float: left;
}

.box-container {
	width: 100%;
	height: 240px;
	background:#EEEEEE;
	
	margin: 0;
	padding: 0;
}
.box-container .box {
	
	
	height: 240px;
	width: 240px;
	display: block;
	position: relative;

	float: left;
}
.box_content{
	vertical-align: center;
	text-align: center;
	padding: 30%;
	
}
.clear-fix:after {
	clear: both;
	visibility: hidden;
	content: '';
	height: 0;
}


.box:hover { 
	background: #BDBDBD;
}

.lstsec {

position:relative;
padding:20px;
background: #424242;
bottom: 0px;
clear: both;
}

button {

	background: #00E676;
	border: none;
	padding: 8px;
}

.butt{

	position: absolute;
	top: calc(50% - 15px);
	right: 118px;
}




.foot1 {
	float: left;
	font-size: 10px;
	color: #a9a9a9;
}


.foot2 {
font-size: 10px;
float:right;
padding: 10px;
}




@media only screen and (max-width: 480px) {
    body {

}

.width-960 {
	width: 100%;
	margin: auto;  
}

img {
	width: 100%;
}
.full {
	width: 100%;
}


.dummy1 {
	width: 100%;
}
.dummy2 {
	width:100%;	
	
}
.dummy3 {
	width: 100%;	
}


.box-container {

	width: 100%;
	height:70%;
	background:#EEEEEE;
	margin: 0;
	padding: 0;
}

.box-container .box  {
	height:100%;
	width: 100%;
	display: block;
	float: left;
}

.box_content {
	vertical-align: center;
	text-align: center;
	padding: 20%;
}



.alignment {
text-align: center;
}

.lstsec {

position:relative;
padding:20px;

bottom: 0px;
clear: both;
}

button {

	border: none;
	padding: 4px;
}

.butt{

	position: absolute;
	top: calc(90% - 15px);
	right: 118px;
}
.space{
	margin-left: 0%;
    width: 100%;
}


.foot1 , .foot2 {
	float: center;
	width: 100%;

}



}



